// Colors

$re-primary-blue-color-100: #E6F7FF;
$re-primary-blue-color-200: #A8DFFF;

$re-dark-theme-primary-color-blue-300: #7ACAFF;
$re-dark-theme-primary-color-blue-400: #52B4FF;
$re-dark-theme-primary-color-blue-500: #2795F5; // Blue Dark theme Primary Colors 

$re-light-theme-primary-color-blue-100: #E6F7FF;
$re-light-theme-primary-color-blue-600: #0074E8;
$re-light-theme-primary-color-blue-700: #005AC2;
$re-light-theme-primary-color-blue-800: #00439C; // Blue Ligtht theme Primary Colors 

$re-light-theme-grayscale-color-200: #E7ECF1;
$re-light-theme-grayscale-color-400: #E7ECF1;
$re-light-theme-grayscale-color-700: #A5ACB4;
$re-light-theme-grayscale-color-900: #656C78;
$re-light-theme-grayscale-color-1400: #25282E;
$re-light-theme-grayscale-color-1600: #121417; // Gray Scale Colors


$re-error-color:#DC2626;  

// Font Sizes
$re-font-10: 10px;
$re-font-11: 11px;
$re-font-12: 12px;
$re-font-13: 13px;
$re-font-14: 14px;
$re-font-16: 16px;
$re-font-18: 18px;
$re-font-24: 24px;

// Font Weight
$re-font-weight-500: 500; // medium
$re-font-weight-600: 600; // semi-bold
$re-font-weight-700: 700; // bold
$re-font-weight-800: 800; // bolder

// px value
$re-2px: 2px;
$re-4px: 4px;
$re-5px: 5px;
$re-6px: 6px;
$re-8px: 8px;
$re-10px: 10px;
$re-12px: 12px;
$re-14px: 14px;
$re-16px: 16px;
$re-18px: 18px;
$re-20px: 20px;
$re-22px: 22px;
$re-24px: 24px;
$re-28px: 28px;
$re-32px: 32px;