// Variables Import
@import '../../styles/variable.scss';
@import '../../styles/common.scss';

.react-side-nav {

    .revedia-logo {
        width: 150px;
        padding: 0 16px 16px;
    }

    .MuiPaper-root {
        &::before {
            background: none;
        }
    }
    .MuiAccordion-root {
        border-radius: initial;
        background-color: #fbfbfb;
        color: $re-light-theme-primary-color-blue-600;
        box-shadow: none;

        .MuiAccordionSummary-root {
            min-height: 40px;
        }

        .header-name {
            color: $re-light-theme-grayscale-color-1600;
            font-size: 14px;
            opacity: 0.75;
            font-weight: 700;
        }

        .rotate-90 {
            transform: rotate(270deg);
            color: $re-light-theme-grayscale-color-1600;
        }

        .Mui-expanded .rotate-90 {
            transform: rotate(180deg);
        }

        .component-child {
            padding: 0 12px;

            .component-child-link {
                text-decoration: none;

                .component-child-link-name {
                    // margin-left: 30px;
                    color: $re-light-theme-grayscale-color-1600;
                    font-size: 14px;
                    opacity: 0.75;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 12px 16px;
                    position: relative;

                    &:hover {
                        @extend .menu-hover
                    }
                }

                &.active-element {
                    
                    .component-child-link-name {

                        background-color: $re-light-theme-primary-color-blue-100;
                        color: $re-light-theme-primary-color-blue-600;
                        border-radius: $re-4px;
                        opacity: 1;
                        padding: 12px 18px;
                        margin: $re-4px 0;
                        
                        span {
                            position: absolute;
                            left: 0;
                            height: 18px;
                            width: 4px;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            background-color: $re-light-theme-primary-color-blue-600;
                        }
                    }
                }

            }
        }
    }
}