// Variable Import
@import '../../styles/variable.scss';

.revedia-icon-button {
    .MuiIconButton-colorPrimary {
        color: $re-blue-color-600
    }

    .MuiIconButton-colorWhite {
        color: $re-white-color;
    }

    .MuiIconButton-colorError {
        color: $re-error-color-600;
    }

    .MuiIconButton-colorSuccess {
        color: $re-success-color-600;
    }

    .MuiIconButton-colorWarning {
        color: $re-warning-color-600;
    }
}